* {
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
	font-size: 16px;
}

body {
	background-image: url(cats.jpg);
	width: 100vw;
	height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

label {
	padding: 10px 0 0 0;
}

#form-container {
	display: flex;
	align-items: left;
	justify-items: flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	background: white;
	padding: 70px;
	max-width: 700px;
	margin: auto;
}

form,
.required-fields {
	display: flex;
	flex-direction: column;
}

h1,
#description {
	text-shadow: 2px 2px 5px hsl(248, 53%, 80%);
	font-family: courier;
	align-self: center;
}

h1 {
	font-size: xx-large;
	margin: 0 0 20px 0;
	text-decoration: underline;
}

#description {
	font-style: bold;
	font-size: 18px;
	margin: 0 0 20px 0;
}

#please {
	font-style: italic;
	text-align: center;
	border: 3px dotted black;
	padding: 20px;
	font-size: 14px;
	margin: 20px;
}

hr {
	width: 100%;
	height: 2px;
	background: gray;
	border: 1px solid gray;
	border-radius: 5px;
}

input,
textarea {
	background: rgb(246, 209, 215);
	padding: 5px;
	margin: 5px 0 0 0;
}

#date-label,
#cat-desc-label {
	margin-top: 5px;
}

.treats {
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	vertical-align: middle;
}

.story,
.terms,
.cat-description {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

#date {
	width: 175px;
}

#color {
	padding: 0;
	background-color: white;
	border: none;
	margin-bottom: 5px;
}

.fave-food {
	padding-top: 40px;
	padding-bottom: 20px;
}

.sweet-spicy label {
	padding-left: 10px;
}

input[type='radio'] {
	float: left;
	clear: none;
	margin-left: 20px;
	padding: 10px;
}

input[type='checkbox'] {
	float: left;
	vertical-align: middle;
	margin-right: 10px;
}

select {
	background: rgb(246, 209, 215);
}

.textbox {
	min-height: 100px;
}

#submit {
	background-color: hsl(248, 53%, 80%);
	margin: 20px 0 0 0;
	max-width: 100px;
}

#agreement {
	font-weight: bold;
	font-size: 14px;
}

#required {
	font-size: 12px;
}

@media (max-width: 650px) {
	body {
		background: white;
	}

	h1,
	#description {
		text-align: center;
	}
}
